:q
XXYYhat.npy
matlab_parula_colormap.mat
__pycache__/analysis_template.cpython-36.pyc
__pycache__/extract_with_classifier.cpython-36.pyc
__pycache__/gaussnet.cpython-36.pyc
__pycache__/gen_stacked_plane_movie.cpython-36.pyc
__pycache__/naka_rushton_analysis.cpython-36.pyc
__pycache__/nub_analysis.cpython-36.pyc
__pycache__/nub_figures.cpython-36.pyc
__pycache__/nub_utils.cpython-36.pyc
__pycache__/opto_utils.cpython-36.pyc
__pycache__/pyute.cpython-36.pyc
__pycache__/pyute.cpython-37.pyc
__pycache__/read_exptlist.cpython-36.pyc
__pycache__/read_exptlist.cpython-37.pyc
__pycache__/retinotopy_analysis.cpython-36.pyc
__pycache__/run_calnet_pc_opto_sims.cpython-36.pyc
__pycache__/sim_utils.cpython-36.pyc
__pycache__/size_contrast_analysis.cpython-36.pyc
__pycache__/size_contrast_figures.cpython-36.pyc
__pycache__/size_contrast_opto_analysis.cpython-36.pyc
__pycache__/size_contrast_opto_figures.cpython-36.pyc
__pycache__/song_conversion_script.cpython-36.pyc
__pycache__/song_to_trace.cpython-36.pyc
__pycache__/taxonomizer.cpython-36.pyc
__pycache__/tuning_based_classification.cpython-36.pyc
__pycache__/von_mises_analysis.cpython-36.pyc
calnet/.DS_Store
calnet/__pycache__/__init__.cpython-37.pyc
calnet/__pycache__/calnet.cpython-37.pyc
calnet/__pycache__/fit_calnet_2step_with_nonlinear_bidi_optogenetics.cpython-36.pyc
calnet/__pycache__/fit_calnet_2step_with_tight_nonlinear_bidi_optogenetics.cpython-36.pyc
calnet/__pycache__/fit_calnet_ori_with_bidi_optogenetics.cpython-36.pyc
calnet/__pycache__/fit_calnet_ori_with_nonlinear_bidi_optogenetics.cpython-36.pyc
calnet/__pycache__/fit_calnet_ori_with_nonlinear_bidi_optogenetics.cpython-37.pyc
calnet/__pycache__/fit_calnet_ori_with_nonlinear_tridi_optogenetics.cpython-36.pyc
calnet/__pycache__/fit_calnet_ori_with_nonlinear_tridi_optogenetics.cpython-37.pyc
calnet/__pycache__/fit_calnet_ori_with_optogenetics_multiout.cpython-36.pyc
calnet/__pycache__/fit_calnet_ori_with_optogenetics_multiout.cpython-37.pyc
calnet/__pycache__/fit_calnet_ori_with_optogenetics.cpython-36.pyc
calnet/__pycache__/fit_calnet_ori_with_optogenetics.cpython-37.pyc
calnet/__pycache__/fit_calnet_with_nonlinear_bidi_optogenetics.cpython-36.pyc
calnet/__pycache__/fit_calnet_with_nonlinear_bidi_optogenetics.cpython-37.pyc
calnet/__pycache__/fit_calnet_with_optogenetics.cpython-36.pyc
calnet/__pycache__/fit_calnet_with_optogenetics.cpython-37.pyc
calnet/__pycache__/fitting_2step_spatial_feature_opto_nonlinear.cpython-36.pyc
calnet/__pycache__/fitting_2step_spatial_feature_opto_tight_nonlinear.cpython-36.pyc
calnet/__pycache__/fitting_multiout_callable.cpython-36.pyc
calnet/__pycache__/fitting_spatial_feature_opto_bidi.cpython-36.pyc
calnet/__pycache__/fitting_spatial_feature_opto_multiout.cpython-36.pyc
calnet/__pycache__/fitting_spatial_feature_opto_nonlinear_tridi.cpython-36.pyc
calnet/__pycache__/fitting_spatial_feature_opto_nonlinear.cpython-36.pyc
calnet/__pycache__/utils.cpython-37.pyc
figures/.DS_Store
figures/scatter_light_on_light_off_init_celltype_0.eps
figures/scatter_light_on_light_off_init_celltype_1.eps
figures/scatter_light_on_light_off_init_celltype_2.eps
figures/scatter_light_on_light_off_init_celltype_3.eps
figures/scatter_light_on_light_off_target_celltype_0.eps
figures/scatter_light_on_light_off_target_celltype_1.eps
figures/scatter_light_on_light_off_target_celltype_2.eps
figures/scatter_light_on_light_off_target_celltype_3.eps
nohup.out
fold_fold_save_msk.m~
fold_save_eye_tracking.m~
fold_smooth_eye_tracks.m~
align_by_prefsize.m~
save_eye_tracking.m~
l4_l23_transformation/Untitled.ipynb
l4_l23_transformation/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/
.DS_Store
